<a class="headline" href="{{ story.url }}">{{ story.headline }}</a>
<br />

<span class="details">
    {{ story.createdBy }} |
    <a href="{{ route('story.show', story.id) }}">{{ story.comments.count }} Comments</a> |
    {{ story.createdOn.format('n/j/Y g:i a') }}
</span>
