<html>
    <head>
        <title>Upvote News</title>
    </head>
    <style>
        body {
            font-family: Verdana;
            font-size: 10pt;
        }
        
        #container {
            clear: both;
            margin: 0 auto;
            width: 960px;
        }  
              
        #main {
            background-color: #F6F6EF;
            width: 960px;
        }
        
        #header {
            background-color: #FF6600;
            padding: 5px;
        }
        
        a {
            text-decoration: none;
            color: #000000;
        }
        
        span {
            display: block;
        }
        
        span, span a {
            color: #828282;
            font-size: 8pt;
            
        }
        
        /* #8287B0 */
    </style>
    <body>
        <div id="container">
            <div id="main">
                <div id="header"><a href="{{ route('index') }}"><strong>Upvote News</strong>

                {% if auth_user() %}
                    <a href="{{ route('story.create') }}">new</a> |
                    <a href="{{ route('user.account.show') }}">account</a> |
                    <a href="{{ route('user.logout') }}">logout</a>
                {% else %}
                    <a href="{{ route('user.login') }}">login</a> |
                    <a href="{{ route('user.create') }}">create account</a>
                {% endif %}
                    
                </div>
                <div id="content">
                    {% include '_partials/messages' %}

                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
